body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, "Times New Roman", serif;
    display: flex;
    flex-direction: column;
}

.pagebody {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-right:10px;
}

.leftheader {
    font-size: 25px;
    font-weight: 800;
    color:#E5E7EB;
    display: flex;
    align-items: center;
    gap: 20px;
}

.puglogo {
    width: 70px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.leftbanner {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
    align-items: flex-start;
}

.pugbanner {
    width: 500px;
    height: auto;
}

.heromain {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.herosecondary {
    font-size: 20px;
    color:#E5E7EB;
}

button {
    background: #3882F6;
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
}

.signup {
    border: 1px solid #3882F6;
}

.gallery {
    padding: 40px;
    margin-bottom: 20px;
}

.gallerytitle {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20px;
}

.gallerycontainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.puggallery {
    width: 150px;
    height: 150px;
}

.info {
    max-width: 150px;
    text-align: center;
    font-size: 20px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding: 80px 300px;
}

.sentence, .quoter {
    font-size: 20px;
    font-style: light italic;
    color: #1F2937;
}

.quoter {
    font-weight: bold;
    margin-right: 10px;
}

.CTA {
    display: flex;
    background-color: #3882F6;
    padding: 30px;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    width: 800px;
    margin: 40px auto;
    border-radius: 8px;
}

.calltoaction {
    font-size: 20px;
    color:#E5E7EB;
    font-weight: bold;
}

.CTAsecondary {
    font-size: 15px;
    color:#E5E7EB;
}

.subscribe {
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 20px;
}
